@import url(https://fonts.googleapis.com/css?family=Proza+Libre);
body{
	font-family: 'Proza Libre', sans-serif;
	background:#ECECED;
}


/* Absolute Center Spinner */
.loader {
	position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.show-loader{background: rgba(255, 255, 255, 0.65); width: 100%; height: 100%; position: fixed; z-index: 100000000; display: none;}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*breadcrumb*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style-type: none;
    background-color: #eee;
    font-size: 17px;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
}
/*breadcrumb*/
div.clear, .row:after{ display: table; content: " "; clear: both; }
.pull-left{ float: left; }
.pull-right{ float: right; }
.alert-success,
.alert-error{width:100%; padding:10px; font-size:14px; text-align:left;}
.alert-success p,
.alert-error p{ padding:2px 0; }
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.txtRight{text-align: right !important;}
.txtLeft{text-align: left !important;}
.error_msg, .success_msg{
	display: block;
	font-size: 11px;
	text-transform: uppercase;
	padding: 5px 10px;
	font-weight: 500;
}
.error_msg{color:#FF0000 !important;}
.success_msg{color:#3c763d !important;}
.field-error{ border-color: #FF0000 !important; }

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="password"], input[type="url"], select, textarea{padding:2px 10px; height:30px; border:1px solid rgba(17, 30, 193, 0.30); width:100%; outline: none; border-radius: 2px; background: rgba(31, 100, 255, 0.12); }
input, textarea, button, select{border-radius:3px;}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="url"]:focus, textarea:focus, select:focus{border-color:#6886ff;}
textarea{padding:5px 10px; height:80px; width:100%;}
textarea.bigTxtarea{height:118px;}
option{padding:4px 5px;}
optgroup{padding:4px 6px;}
optgroup option{padding:4px 12px;}

input[type="submit"], input[type="button"], button[type="button"], button[type="submit"], .button, a.button{background:#4D4BFF; color:#FFF; font-size:14px; border:none;  padding:4px 30px; cursor:pointer; /* height:32px; */ font-weight:400; text-transform:capitalize; display:inline-block; text-align:center; text-decoration:none; line-height:30px; border-radius:2px;}
input[type="submit"]:hover, input[type="button"]:hover, button[type="submit"]:hover, button[type="button"]:hover, .button:hover{background:#3D9BFF;}

.btn-sm{ height: 19px !important; line-height: 20px !important; }
header{ width: 100%; position: relative; z-index: 999;}
header .headerBlank{
    width: 100%;
    height: 5px;
    background: #5a57b5;
}
header .header{
    width: 100%;
        overflow: hidden;
    background: #4cc0ff;
    background: -moz-linear-gradient(top, #4cc0ff 0%, #2643ff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #4cc0ff), color-stop(100%, #2643ff));
    background: -webkit-linear-gradient(top, #4cc0ff 0%, #2643ff 100%);
    background: -o-linear-gradient(top, #4cc0ff 0%, #2643ff 100%);
    background: -ms-linear-gradient(top, #4cc0ff 0%, #2643ff 100%);
    background: linear-gradient(to bottom, #4cc0ff 0%, #2643ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc0ff', endColorstr='#2643ff', GradientType=0 );
}
header .header .headerLogo, header .header .headerText{float:left; }
header .header .headerLogo{margin:15px 0 0 10px; }
header .header .headerText{
    margin-left:20px;
    color:#FFFFFF;
}
header .header .headerText h3{
    font-size:22px;
    width:600px;
    font-weight:bold;
    margin:10px 0 5px 0;
    text-shadow: 2px 1px #4E33FF;
}
header .header .headerText h3 .smallSc{display: none;}
header .header .headerText p{font-size:13px; }
header .header .headerTextSmall{display:none; }
header .header .headerText p:last-child{margin:0 0 10px 0; }

.page-caption{
	width: 100%;
	background: #87bbff;
	background: -moz-linear-gradient(top, #87bbff 0%, #3d91ff 51%, #3168ff 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #87bbff), color-stop(51%, #3d91ff), color-stop(100%, #3168ff));
	background: -webkit-linear-gradient(top, #87bbff 0%, #3d91ff 51%, #3168ff 100%);
	background: -o-linear-gradient(top, #87bbff 0%, #3d91ff 51%, #3168ff 100%);
	background: -ms-linear-gradient(top, #87bbff 0%, #3d91ff 51%, #3168ff 100%);
	background: linear-gradient(to bottom, #87bbff 0%, #3d91ff 51%, #3168ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87bbff', endColorstr='#3168ff', GradientType=0 );
}
.page-caption h2{ padding: 10px; font-size: 21px; color: #FFFFFF; font-weight: 300; text-shadow: 2px 1px #4E33FF; }

.contener{
	width: 1000px;
	margin: 0px auto;
	background: #FFFFFF;
	margin-top: 25px;
}
.form-step-box{

	width: 942px;
	margin: 0px auto;
	padding-top: 20px;
	padding-bottom: 35px;
}
.form-step-box:after{ display: table; content: " "; clear: both;  }
.form-step{
	position: relative;
	width: 185px;
	display: inline-block;
	border-bottom:4px solid #c4c4c4;
	text-align: center;
	padding: 10px 0;

}
.completed{ border-color: #FF0000; }
.form-step a{
	text-decoration: none;
}

.form-step a span{
	position: absolute;
	width: 23px;
    height: 23px;
    border-radius: 50%;
    display: block;
    border: 1px solid #c4c4c4;
    background: #FFFFFF;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0px auto;
    color: #c4c4c4;
    left: 0;
    right: 0;
    bottom: -12px;
}
.completed a span{
	border: 1px solid #2c8e2d;
	background: #2c8e2d;
	color: #FFFFFF;
}
.redisterlink{ width: 100%; min-height: 200px; border-right: 1px solid #a3c6ff; position: relative; margin: 50px;}
.redisterlink .orbox{ position: absolute; width: 34px; height: 34px; border-radius: 50%; border: 1px solid #a3c6ff; background: #FFFFFF; right: -19px; top: 6.5em; text-align: center; line-height: 3.2em; color: #a3c6ff; font-size: 12px; }
.redisterlink h2{ background: #dbddff; border:1px solid #dbddff; padding: 10px; width: 350px; font-size: 14px; text-align: center; color: #757575; font-weight: bold; }
.step-details{ position: relative; width: 350px; border:1px solid #c4c4c4; padding: 5px 10px; margin-top: 10px; border-radius: 5px; }
.step-details .step-style{ position: absolute; top: 0; left: 0; background: #c4c4c4; padding: 5px 10px; color: #FFFFFF; }
.step-details .step-text{ margin-left: 70px; font-size: 14px; }

.loginbox .form-content{ width: 100% !important; }
.loginbox .form-title { width: 31%; }
.loginbox .pull-right{ margin-right: 30px; }
.form-content{
	width: 800px;
	margin: 0px auto;
	margin-top: 50px;
	padding-bottom: 60px;
}
.form-details{     display: block; width: 100%; margin-bottom: 10px; padding: 0; }
.form-details .mend{
    color: #ce0000;
    font-weight: bold;
    font-size: 18px;
}
.form-title, .form-field, .form-field-inline{ display: inline-block; }
.form-title{width:35%; vertical-align:top; padding-right:20px; line-height:20px; font-weight:400; font-size:14px; text-align: right;}
.form-field{width:60%; vertical-align:top; line-height:40px; font-weight:400;}
.form-field .sm-fld{ max-width: 300px; }
.form-field-inline{ line-height: 2.5em; margin-right: 20px; cursor: pointer; }
.form-field-inline:last-child{ margin-right: 0; }
.button-details{ margin-left: 30%; }
.form-field small{ display: block; font-size: 12px; margin: 0; padding: 0; line-height: 21px;  }
.form-field small, .form-field small a{ text-decoration: none; /*font-style: italic;*/ color: #FF0000;  }
 .form-field small a{ font-size: 12px !important; }
.form-field small{
    color: #8c0707;
    font-weight: 500;
    font-size: 16px;
}
.form-field small a:hover{ text-decoration: underline; color: #FF0000; }
.uploadBtn, .uploadBtnsig{
    background: #fff;
    align-items: center;
    border: 1px solid #ddd;
    cursor: pointer;
    display: block;
    float: left;
    height: 150px;
    margin: 0 12px 10px 0;
    overflow: hidden;
    padding: 0;
    width: 150px !important;
}
.uploadBtn input[type="file"], .uploadBtnsig input[type="file"]{ display: none; }
.uploadBtn i, .uploadBtnsig i{
    color: #ccc;
    display: block;
    font-size: 48px;
    margin: 36px 0;
    text-align: center;
}
.uploadBtn span, .uploadBtnsig span{
	background: #f1f1f1 none repeat scroll 0 0;
    text-align: center;
    color: #555;
    display: block;
    line-height: 30px;
    font-size: 13px;
}
.uploadBtnsig{ width: 300px !important; height: 65px; }
.uploadBtnsig i{ margin-top: 0px; font-size: 12px; }

.loggedin-user{ padding: 20px; }
.loggedin-user::after{ display: table; content: " "; clear: both; }
.student-details{ float: left; }
.student-details span{ display: inline-block; }

/*.student-details span{ font-weight: 300; }*/

.student-details span.cand-enroll{ font-size: 12px; font-weight: 500 !important; }
.logout-btn{ float: right; }
.cand-name, .cand-enroll{ display: block; font-weight: bold; }


.result{
    width: 450px;
    margin: 0px auto;
    border-top: 4px solid #8400ff;
    padding: 5px 70px;
    margin-bottom: 35px;
}
.result h2{ font-size: 22px; font-weight: 300; padding: 22px 0; }
.result h2 span{ font-weight: 500; }
.result p{ font-size: 18px; }
.result p span{ font-weight: 500; color: #2643ff; }

.show_image a{
    display: block;
    text-decoration: none;
    color: #474747;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 35%, #c9c9c9 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(35%, #f6f6f6), color-stop(100%, #c9c9c9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 35%, #c9c9c9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 35%, #c9c9c9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 35%, #c9c9c9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 35%, #c9c9c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c9c9', GradientType=0 );
    width: 200px;
    border-radius: 3px;
    border: 1px solid #474747;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    line-height: 2em;
}
