<html>
 <head>
      <title>Registration|Apps</title>
	  <style>
         input{
		   border-radius:6px 6px 6px 6px;
		   border:2px solid green;
		 }
	  </style>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	  </head>
<body>
<form ng-app="myApp" ng-controller="validateCtrl" method="post" action="/main/Home/DataConfirm/" 
name="myForm" novalidate>
<center>
		 <table cellspacing="2" cellpadding="2" border="1" style="background:#fff;border:1px solid green;">
		 <tr>
               <td align="right" style="color:#000;"><b>
Enter Username:</b></td><td>
<input type="text" name="name" ng-model="user" required>
<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
<span ng-show="myForm.name.$error.required">Username is required.</span>
</span></td></tr>

<tr>
               <td align="right" style="color:#000;"><b>
Enter Email ID:</b></td><td>
<input type="email" name="email" ng-model="email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Email is required.</span>
<span ng-show="myForm.email.$error.email">Invalid email address.</span>
</span>
</td></tr>

<!--<tr>
               <td align="right" style="color:#000;"><b>
Enter Mobile No:</b></td><td>
<input type="number" name="mobno" ng-model="mobno" required>
<span style="color:red" ng-show="myForm.mobno.$dirty && myForm.mobno.$invalid">
<span ng-show="myForm.mobno.$error.required">Mobile Number is required.</span>
<span ng-show="myForm.mobno.$error.mobno">Invalid Mobile Number address.</span>
</span>
</td></tr>-->

<tr>
               <td align="right" style="color:#000;"></td><td>
<input type="submit"
ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||  
myForm.email.$dirty && myForm.email.$invalid" disabled> <!--|| myForm.mobno.$dirty && myForm.mobno.$invalid-->
</td></tr>
</table>

</form>

<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = '';

});
</script>
</body>
</html>