/*Body*/
body{
	font-family: "verdana", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
	letter-spacing: 0.5px;
	text-align: justify;
	}
/*Box*/

/*Header*/

/*Footer*/
.footer{
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  background-color: #bbb;
  color: #000;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  height: auto;
}
/*Form*/
.form{
  margin-left: 50px;
}
