/*CSS is developed and written by Debkanta (APPS)*/

/*General*/
body{
	margin:0px;
}
a{
	color:white;
	text-decoration:none;
}

/*Header*/
.navigation{
	list-style:none;
    margin:0px;
	display:-webkit-box; /*for Chrome*/
	display:-moz-box;   /*for Firefox*/
	display:-ms-flexbox; /*for Ms Internet Explorer*/
	display:-webkit-flex; /*for new Chrome*/
	display:flex;  /*General*/
	justify-content:flex-end;
	-webkit-flex-flow:row wrap; /*for new Chrome*/
	background:deepskyblue;
}
.navigation a{
	text-decoration:none;
	padding:1em;
	color:white;
	display:block;
	font-family:"Ubantu",sans-serif;
	font-weight:bold;
}
.navigation a:hover{
	background:skyblue;
}

/*media quaries*/
@media all and (max-width:800px){
	.navigation{
		justify-content:space-around;
	}
}
@media all and (max-width:600px){
	.navigation{
		-webkit-flex-flow:column wrap; /*for new Chrome*/
		flex-flow:column wrap;
		padding:0px;
	}
	.navigation a{
		padding:15px;
		text-align:center;
		border-top:1px solid lightskyblue;
		border-bottom:1px solid lightskyblue;
	}
	.navigation li:last-of-item a{
		border-bottom:none;
	}
}

/*Other Part*/
.wrapper{
	display:flex;
	flex-flow:row wrap;
	font-family:"Ubantu",sans-serif;
	text-align:center;
}
.wrapper>*{
	padding:10px;
	flex:1 100%;
}
.footer{
	background:green;
	color:white;
	font-weight:bold;
}
.main{
	text-align:center;
}
.aside-1{
	background:red;
	color:white;
}
.aside-2{
	background:hotpink;
	color:white;
}

/*media quiries*/
@media all and (min-width:600px){
	.aside{
		flex:1 auto;
	}
}
@media all and (min-width:800px){
	.main{
		flex:3 0px;
	}
	.aside-1{
		order:1;
	}
	.main{
		order:2;
	}
	.aside-2{
		order:3;
	}
	.footer{
		order:4;
	}
}
@media all and (max-width:800px){
	.main{
		background:yellow;
	}
}